/* -------NAVBAR(HEADER)------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}
@media screen and (min-width: 601px) {
.bighead{
  min-height: 20vh;
  background-color: #121212;
  display: inline-flex;
  width:100%;
  position: relative;

}

.logo{
  color:white;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 3.25rem ;

}

.connectbtn{
  position: absolute;
  right: 0;
  padding: 1rem 1.5rem;
}
}

@media screen and (max-width: 600px) {
  .bighead{
    min-height: 20vh;
    background-color: #121212;
    display: inline-flex;
    width:100%;
    position: relative;
  
  }
  
  .logo{
    color:white;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 3.25rem ;
    text-align: center;
  
  }
  
  .connectbtn{
    display: none;
  }

}