@media screen and (min-width: 601px) {
    .main_con{
    background-color: #1f1f1f;
    min-height: 100vh;
}

.content{
    color: white;
    text-align: center;
    padding: 8rem 0 0 0;
    font-size: 1.5rem;
}

.imgsone{
    
}
.btncon{
    text-align: center;
}

.git_btn{
    background-color:#406343;
    border: 2px solid #406343;
    border-radius: 1.5rem;
    font-size: 1rem;
    padding: 0.4rem 2rem;
}

.link{
color: white;
text-decoration: none;
}

.alert {
 display: none;

}

}

@media screen and (max-width: 600px) {
    .main_con{
    background-color: #1f1f1f;
    min-height: 100vh;
}

.content{
    color: white;
    text-align: center;
    padding: 8rem 0 0 0;
    font-size: 1.5rem;
}

.imgsone{
    
}
.btncon{
    text-align: center;
}

.git_btn{
    background-color:#406343;
    border: 2px solid #406343;
    border-radius: 1.5rem;
    font-size: 1rem;
    padding: 0.4rem 2rem;
}

.link{
color: white;
text-decoration: none;
}

.alert {
    text-align: center;
    color: white;
    padding: 0 2rem;

}

}